*,
*::before,
*::after {
  box-sizing: border-box;
  border: 0;
	margin: 0;
  outline: 0;
	padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  color: $color-gray-dark;
  background-color: $color-white;
  font-family: 'AvenirCondensed';
  font-weight: 500;
  text-transform: uppercase;
  font-size: 1.8rem;
  letter-spacing: .02em;
  line-height: 1;
  overflow-x: hidden;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  // color: $color-gray-dark;
  font-weight: 500;
}

p {
  line-height: 1.4;
  text-transform: none;
}

a,
button,
select {
  color: inherit;
}

button {
  font: inherit;
  cursor: pointer;
  background: transparent;
  @include font-manifold;
}

a {
  text-decoration: none;
}

ol,
ul {
	list-style: none;
}

select {
  font: inherit;
}

input {
  font-family: inherit;
  font-weight: inherit;
}
