// Displays
.visible-xs { @media (min-width: $screen-sm-min) { display: none; } }
.visible-sm { @media (min-width: $screen-md-min) { display: none; } }
.visible-md { @media (min-width: $screen-lg-min) { display: none; } }

.hidden-xs {
  display: none;
  @media (min-width: $screen-sm-min) { display: block; }

  &--inline {
    display: none;
    @media (min-width: $screen-sm-min) { display: inline-block; }
  }
}
.hidden-sm {
  display: none;
  @media (min-width: $screen-md-min) { display: block; }

  &--inline {
    display: none;
    @media (min-width: $screen-md-min) { display: inline-block; }
  }
}
.hidden-md {
  display: none;
  @media (min-width: $screen-lg-min) { display: block; }

  &--inline {
    display: none;
    @media (min-width: $screen-lg-min) { display: inline-block; }
  }
}
