@font-face {
  font-family: 'Manifold';
  src: url('/assets/fonts/Manifold-CF-Demi-Bold.otf');
}

@font-face {
  font-family: "FontAwesome";
  src: url("/assets/fonts/fontawesome-webfont.eot?v=4.3.0");
  src: url("/assets/fonts/fontawesome-webfont.eot?#iefix&v=4.3.0") format("embedded-opentype"), url("/assets/fonts/fontawesome-webfont.woff2?v=4.3.0") format("woff2"), url("/assets/fonts/fontawesome-webfont.woff?v=4.3.0") format("woff"), url("/assets/fonts/fontawesome-webfont.ttf?v=4.3.0") format("truetype"), url("/assets/fonts/fontawesome-webfont.svg?v=4.3.0#fontawesomeregular") format("svg");
  font-weight: 400;
  font-style: normal;
}
