// Media queries
$screen-xs-min:               480px !default;
$screen-sm-min:               768px !default;
$screen-md-min:               992px !default;
$screen-lg-min:               1200px !default;
$screen-xl-min:               1400px !default;
$screen-xs-max:               ($screen-sm-min - 1) !default;
$screen-sm-max:               ($screen-md-min - 1) !default;
$screen-md-max:               ($screen-lg-min - 1) !default;
$screen-lg-max:               ($screen-xl-min - 1) !default;

// Colors
$color-white:       #fff;
$color-gray-light:  #768692;
$color-gray-dark:   #425563;
$color-orange:      #ffa300;
$color-green:       #bbfb11;
$color-blue:        #00daff;
$color-red:         #d6001c;
$color-red-dark:    #a6093d;
$color-offwhite:    #F3ECE8;

$color-theme-home:          $color-blue;
$color-theme-portfolios:    $color-red;

// Zindex
$zIndex-upper:     300;
$zIndex-mid:       200;
$zIndex-lower:     100;

// Layout
$gutter: 15px;
$gutter-sm: 4;

// Easing
$transition-ease: cubic-bezier(.14, .64, .44, 1);
