@font-face {
  font-family:"AvenirCondensed";
  src:url("assets/Avenir/Fonts/f737d53f-f6ed-4f15-8fe7-925fb68a8851.eot?#iefix");
  src:url("assets/Avenir/Fonts/f737d53f-f6ed-4f15-8fe7-925fb68a8851.eot?#iefix") format("eot"),url("assets/Avenir/Fonts/7fb4cb78-601f-4bb2-995a-442252089573.woff2") format("woff2"),url("assets/Avenir/Fonts/19db35b6-b3e8-400b-ae62-a3d37cc9fa56.woff") format("woff"),url("assets/Avenir/Fonts/61860563-e9eb-40bd-844e-48e96af9d063.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family:"AvenirCondensed";
  src:url("assets/Avenir/Fonts/8e7f81d1-94dd-47e6-94ce-9c278d5d1ecc.eot?#iefix");
  src:url("assets/Avenir/Fonts/8e7f81d1-94dd-47e6-94ce-9c278d5d1ecc.eot?#iefix") format("eot"),url("assets/Avenir/Fonts/f31d487c-aab1-4ce0-8fb8-4bdfa26dd539.woff2") format("woff2"),url("assets/Avenir/Fonts/6b0725b6-26e5-4bcf-8174-4d4b4d4217b9.woff") format("woff"),url("assets/Avenir/Fonts/435f931d-7af1-4f3a-a084-3d7aed6cd568.ttf") format("truetype");
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family:"AvenirCondensed";
  src:url("assets/Avenir/Fonts/10236419-1766-4da0-9a4c-83b4fffea025.eot?#iefix");
  src:url("assets/Avenir/Fonts/10236419-1766-4da0-9a4c-83b4fffea025.eot?#iefix") format("eot"),url("assets/Avenir/Fonts/c1ecdeb5-a61a-4207-ae23-0441885ba32d.woff2") format("woff2"),url("assets/Avenir/Fonts/4a75c3b0-f2ef-402c-b54b-ed543933e9c5.woff") format("woff"),url("assets/Avenir/Fonts/bb18d7e3-286e-4825-bf91-7fbeaf607d05.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family:"AvenirCondensed";
  src:url("assets/Avenir/Fonts/c705e79c-88bf-49cf-b054-d2cd2b700cb0.eot?#iefix");
  src:url("assets/Avenir/Fonts/c705e79c-88bf-49cf-b054-d2cd2b700cb0.eot?#iefix") format("eot"),url("assets/Avenir/Fonts/5d02d040-4b68-4c3d-bd11-ef4664ff33cf.woff2") format("woff2"),url("assets/Avenir/Fonts/d1710add-9d03-4bda-b16e-c46b21ccaa64.woff") format("woff"),url("assets/Avenir/Fonts/398bc882-7cc8-4fce-a487-abe01122ff34.ttf") format("truetype");
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family:"AvenirCondensed";
  src:url("assets/Avenir/Fonts/07690b8a-c348-4c53-8de3-59f7cfef9ee8.eot?#iefix");
  src:url("assets/Avenir/Fonts/07690b8a-c348-4c53-8de3-59f7cfef9ee8.eot?#iefix") format("eot"),url("assets/Avenir/Fonts/9f6106aa-36e0-4cfb-8cda-c3354eab2461.woff2") format("woff2"),url("assets/Avenir/Fonts/ff039068-be8b-415c-b1a9-24eedee1c3ab.woff") format("woff"),url("assets/Avenir/Fonts/cdd2cecb-bd0e-41e5-9ecd-ef60f52a35be.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family:"Avenir";
  src:url("fonts/e9167238-3b3f-4813-a04a-a384394eed42.eot?#iefix");
  src:url("fonts/e9167238-3b3f-4813-a04a-a384394eed42.eot?#iefix") format("eot"),url("fonts/2cd55546-ec00-4af9-aeca-4a3cd186da53.woff2") format("woff2"),url("fonts/1e9892c0-6927-4412-9874-1b82801ba47a.woff") format("woff"),url("fonts/46cf1067-688d-4aab-b0f7-bd942af6efd8.ttf") format("truetype");
}
