.filter {
  margin: 0 auto;
  max-width: 396px;
  margin-top: .9em;
  padding: 2em 15px 2em;
  position: relative;
  width: 100%;

  @media (min-width: $screen-sm-min) {
    margin-top: 2.2em;
  }

  @media (min-width: $screen-md-min) {
    padding-top: 1.2em;
  }

  &:after {
    content: '';
    background-color: $color-theme-portfolios;
    position: absolute;
    top: 1px;
    left: 15px;
    width: calc(100% - 30px);
    height: 6px;
  }

  &__headline {
    font-size: 2.4rem;
    margin: 0 auto;
    text-align: center;

    @media (min-width: $screen-md-min) {
      font-size: 3rem;
    }
  }

  &__section {
    display: flex;
    padding-top: 1.2em;
    
    &--category,
    &--dates {
      font-size: 2rem;
    }

    &--category {
      padding-top: 1em;
    }

    &--checkbox {
      text-transform: none;
      padding-top: 1em;
    }
  }

  &__label {
    white-space: nowrap;

    &--checkbox {
      padding-left: 10px;
    }
  }

  &__select {
    position: relative;
    display: inline-block;
    background-color: transparent;
    width: 100%;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: 0;
    border-bottom: 1px solid $color-gray-light;
    margin-left: 4px;
    padding: 0 0 0 14px;
    font-family: 'AvenirCondensed';
    font-weight: 500;
    text-transform: uppercase;
    font-size: 1.8rem;
    transform: translateY(-1px);

    &:after {
      content: '';
      background-color: $color-gray-dark;
      height: 1px;
      position: absolute;
      bottom: 1px;
      left: 0;
      width: 100%;
    }

    option {
      font-size: 1.6rem;
    }
  }
}