.partners {
   &__container {
      padding-top: 3em;

      @media (min-width: $screen-sm-min) {
        display: flex;
        justify-content: space-between;
        padding-bottom: 3em;
      }
   }
}

.partner {
  text-align: center;
  max-width: 400px;
  margin: 0 auto;
  padding-bottom: 3em;

  @media (min-width: $screen-sm-min) {
    padding-bottom: 0;
    width: 44%;
  }

  &__headline {
    display: inline-block;
    font-size: 2.4rem;
    margin: .8em 0 .4em;
    position: relative;

    &:after {
      content: '';
      position: absolute;
      top: -.7em;
      left: -10%;
      height: 6px;
      width: 120%;
    }

    &--investor:after { background-color: $color-green; }
    &--inventor:after { background-color: $color-orange; }
  }

  &__text {
    font-size: 2.2rem;
    padding-bottom: .8em;
  }

  &__link {
    font-size: 2.4rem;
    margin-bottom: 0.2em;
  }
}
