.projects {
  background-color: $color-gray-dark;
  padding: 3.3em 0 0.1em;
  width: 100%;

  @media (min-width: $screen-md-min) {
    // padding: 3.3em 1% 0.1em;
  }

  &__grid {
    max-width: 1160px;
    margin: 0 auto;
    min-height: 24vh;
    position: relative;
    overflow: hidden;

    @media (min-width: $screen-sm-min) {
      display: flex;
      flex-wrap: wrap;
      min-height: 464px;
    }

    // @media (min-width: $screen-lg-min) {
    //   min-height: 464px;
    // }
  }
}

.project {
  display: inline-block;
  position: relative;
  padding-bottom: calc(100% + 3.5em);
  margin-bottom: 1.9em;
  width: 100%;

  @media (min-width: $screen-sm-min) {
    padding-bottom: calc(50% + 3.5em);
    width: 50%;
  }

  @media (min-width: $screen-md-min) {
    padding-bottom: calc(31.333333% + 3.5em);
    margin: 0 1% 1.9em;
    width: 31.333333%;
  }

  &.wearables { .project__img--overlay { background-color: #bbfb11; } }
  &.virtual-care { .project__img--overlay { background-color: #00aeef; } }
  &.online-scheduling { .project__img--overlay { background-color: #ffa300; } }
  &.patient-data { .project__img--overlay { background-color: #d6001c; } }

  &:hover {
    .project__img--overlay {
      opacity: 0;
    }
  }

  &__img {
    background-size: cover;
    background-position: center;
    padding-bottom: 100%;
    position: absolute;
    top: 0;
    left: 0;
    // height: 100%;
    padding-bottom: 100%;
    width: 100%;

    &--overlay {
      opacity: .75;
      transition: opacity .35s;
    }
  }

  &__title {
    color: $color-white;
    @include center-x;
    bottom: 0;
    font-size: 3rem;
    white-space: nowrap;
  }
}
