.areas {
  background-color: $color-gray-dark;
  color: $color-white;
  position: relative;

  @media (min-width: $screen-md-min) {
    display: flex;
    align-items: flex-end;
  }

  &__slider {
    cursor: grab;
    position: relative;
    border-bottom: 5px solid $color-theme-home;
    overflow: hidden;

    @media (min-width: $screen-md-min) {
      border-bottom: none;
      width: calc(50% + 308px);

      &:after {
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        height: 100%;
        width: 128px;
        border-style: solid;
        border-width: 0 0 630px 128px;
        border-color: transparent transparent $color-gray-dark transparent;
      }
    }
  }

  &__img {
    @include background-cover;
    padding-bottom: 64%;
    width: 100%;

    @media (min-width: $screen-sm-min) {
      padding-bottom: 0;
      height: 496px;
    }

    @media (min-width: $screen-md-min) {
      padding-bottom: 0;
      height: 630px;
    }
  }

  &__container {

    @media (min-width: $screen-md-min) {
      width: 284px;
      padding: 0px 22px 0 0;
      margin: 0;
    }
  }


  &__content {
    margin-top: 4em;

    @media (min-width: $screen-md-min) {
      margin-top: 0;
    }
  }

  &__headline {
    color: $color-theme-home;
    font-size: 2.8rem;
    line-height: 1.1;
    position: absolute;
    top: -30px;
  }
}

.controls {

  &__btn {
    display: block;
    height: 40px;
    width: 40px;
    background-size: 36%;
    margin-left: 22px;

    &--next {
      margin-top: 6px;
    }
  }

  &__wrap {
    height: 146px;
    width: 100%;
  }

  &__nav {
    max-height: 146px;
    overflow-y: scroll;
    overflow-y: hidden;
    width: 100%;
  }

  &__item {
    cursor: pointer;
    height: 25px;
    width: 100%;
    line-height: 25px;

    &.is-active {
      color: $color-theme-home;
    }
  }
}

.focus {
  margin: 0.8em 0 0;
  position: relative;

  &__item {
    display: none;
    position: relative;

    &.is-active {
      display: inline-block;
    }
  }

  &__text {
    padding: 0 0 1.2em;
  }

  &__link {
    color: $color-white;
  }
}
