.intro {
  @include background-cover;
  background-color: $color-white;
  margin-top: 158px;
  height: 62vh;
  position: relative;

  @media (min-width: $screen-md-min) {
    margin-top: 162px;
  }

  @media (min-width: $screen-lg-min) {
    height: 100vh;
    margin-top: 0;
    z-index: $zIndex-upper;
  }

  &__headline {
    position: absolute;
    top: 2.5em;
    left: 41px;

    @media (min-width: $screen-sm-min) {
      top: 40%;
      left: calc(4% + 26px);
      font-size: 3rem;
    }

    @media (min-width: $screen-md-min) {
      top: 40%;
      left: 4%;
      font-size: 3rem;
    }

    @media (min-width: $screen-lg-min) {
      top: 44%;
      left: calc(50% - 570px);
      font-size: 4.2rem;
      line-height: 1.2;
    }
  }
}