.proof {

  &__slider {
    cursor: grab;
    position: relative;
    border-bottom: 5px solid $color-theme-home;
  }
  

  &__img {
    @include background-cover;
    padding-bottom: 74%;
    width: 100%;

    @media (min-width: $screen-sm-min) {
      padding-bottom: 0;
      height: 496px;
    }
  }

  &__container {
    display: flex;
    flex-direction: column-reverse;

    @media (min-width: $screen-md-min) {
      flex-direction: row;
      justify-content: space-between;
    }
  }

  // Flickity slider
  .flickity-prev-next-button {
    position: absolute;
    bottom: 6px;
    height: 40px;
    width: 40px;

    @media (min-width: $screen-sm-min) {
      bottom: 16px;
    }

    &.previous {
      left: calc(50% - 90px);
      transform: translateX(-50%);
    }

    &.next {
      right: calc(50% - 90px);
      transform: translateX(50%);
    }
  }

  .flickity-page-dots {
    @include center-x;
    bottom: 5px;

    @media (min-width: $screen-sm-min) {
      bottom: 15px;
    }

    .dot {
      cursor: pointer;
      display: inline-block;
      height: 40px;
      width: 40px;
      position: relative;

      &.is-selected:after  {
        background-color: $color-theme-home;
      }

      &:after {
        @include center-xy;
        content: '';
        background-color: $color-white;
        height: 4px;
        width: 30px;
      }
    }
  }
}

.facts {
  vertical-align: top;

  @media (min-width: $screen-sm-min) {
    align-items: center;
    display: inline-flex;
    justify-content: space-around;
    width: 100%;
  }

  @media (min-width: $screen-md-min) {
    justify-content: space-around;
    padding-right: 2%;
  }

  @media (min-width: $screen-lg-min) {
    padding-right: 1%;
    width: 57%;
  }

  &__item {
    text-align: center;
    padding-bottom: 3em;

    @media (min-width: $screen-sm-min) {
      font-size: 1.4rem;
      
    }

    @media (min-width: $screen-md-min) {
      margin-right: 20px;
      padding-bottom: 1.7em;

      &:last-child {
        margin-right: 0;
      }
    }
  }

  &__icon {
    margin-bottom: 20px;

    @media (min-width: $screen-sm-min) {
      margin-bottom: 8px;

      &.facts__icon--mail {
        margin-top: 10px;
        margin-bottom: 16px;
      }

      &.facts__icon--location {
        margin-top: 4px;
        margin-bottom: 10px;
      }
    }

    &--microphone {
      height: 50px;
    }

    &--mail {
      height: 30px;
    }

    &--location {
      height: 40px;
    }
  }
}

.point {
  display: inline-block;
  padding: 3em 1.6em;
  position: relative;

  @media (min-width: $screen-md-min) {
    width: 50%;
    padding: 2em 1.6em;
  }

  @media (min-width: $screen-lg-min) {
    padding: 2em 0;
    width: 40%;
  }

  &__item {
    display: none;
    transition: opacity .35s;

    &.is-active {
      display: inline-block;
    }
  }

  &__headline {
    color: $color-gray-dark;
    margin-bottom: 10px;
  }
}
