$footer-gutter: $gutter-sm + 1;

.home { .footer { border-top: 5px solid $color-theme-home; } }
.post-type-archive-portfolios { .footer { border-top: 5px solid $color-theme-portfolios; } }

.footer {
  color: $color-white;
  background-color: $color-gray-dark;
  border-top: 5px solid $color-theme-home;
  font-size: 1.8rem;
  overflow-x: hidden;
  position: relative;
  z-index: $zIndex-lower;

  &__container {
    @media (min-width: $screen-sm-min) {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
    }
  }

  &__section {
    padding: 2.25em 15px;
    position: relative;

    @media (min-width: $screen-sm-min) {
      vertical-align: top;
    }
  }

  &__section--care {
    padding: 0;
    text-align: center;
    width: 100%;

    @media (min-width: $screen-lg-min) {
      text-align: left;
      width: 20%;
    }

    &:after {
      content: '';
      background-color: $color-white;
      position: absolute;
      top: 0;
      left: -$gutter;
      width: 101vw;
      height: 100%;
      z-index: 0;

      @media (min-width: $screen-sm-min) { 
        left: -$footer-gutter + 0%;
        width: 103vw;
      }

      @media (min-width: $screen-lg-min) { display: none; }
    }
  }

  &__section--address {
    text-align: center;

    @media (min-width: $screen-sm-min) {
      padding: .8em 1.2em 1em 0;
    }

    @media (min-width: $screen-lg-min) {
      padding: .8em 1.2em 1em;
    }

    &:after {
      content: '';
      background-color: $color-white;
      position: absolute;
      bottom: 0;
      left: -15px;
      height: 1px;
      width: 100vw;

      @media (min-width: $screen-sm-min) { display: none; }
    }
  }

  &__section--connect {
    padding-bottom: 0;

    @media (min-width: $screen-sm-min) {
      padding: .6em 1.2em 1em;
      width: 28%;
    }

    @media (min-width: $screen-lg-min) {
      width: 21%;
    }
  }

  &__section--menu {
    padding-top: 0;

    @media (min-width: $screen-sm-min) {
      display: inline-flex;
      justify-content: space-between;
      max-width: 308px;
      padding: .8em 0 1em 1.2em;
      width: 40%;
    }
  }

  &__section--address,
  &__section--connect {
    @media (min-width: $screen-sm-min) {
      display: inline-block;
      // width: 28%;

      // &:after {
      //   content: '';
      //   background-color: $color-white;
      //   position: absolute;
      //   top: 10%;
      //   right: 0;
      //   height: 80%;
      //   width: 1px;
      // }
    }
  }

  // &__section--connect,
  // &__section--menu {
  //   @media (min-width: $screen-sm-min) {
  //     padding-top: 0;
  //   }
  // }

  &__headline {
    display: inline-block;
    padding-top: 2.25em;
    margin-bottom: .6em;
    position: relative;

    @media (min-width: $screen-sm-min) {
      padding-top: .8em;
    }

    &:after {
      content: '';
      background-color: $color-white;
      position: absolute;
      bottom: -5px;
      left: 0;
      height: 1px;
      width: 100%;
    }
  }

  &__headline--connect {
    padding-top: 0;
    margin-bottom: .75em;

    @media (min-width: $screen-sm-min) {
      padding-top: 1em;
    }
  }

  // &__menu--primary {
  //   @media (min-width: $screen-sm-min) {
  //     margin-right: 1.5em;
  //   }
  // }

  &__item {
    &:last-child {

      .footer__link {
        padding-bottom: 0;
      }
    }
  }

  &__link {
    font-size: 1.5rem;
    display: inline-block;
    padding-bottom: .4em;
    position: relative;
  }

  &__link--care {
    font-size: 2rem;
    padding: 30px 0;
    white-space: nowrap;
    z-index: 1;

    @media (max-width: $screen-md-max) {
      color: $color-red;
    }

    @media (min-width: $screen-lg-min) {
      font-size: 1.8rem;
      position: absolute;
      top: 50%;
      transform: translate(0, -50%);
    }
  }

  &__legal {
    border-top: 1px solid $color-white;
  }

  &__divider {
    background-color: $color-white;
    display: inline-block;
    height: 148px;
    transform: translateY(15px);
    width: 1px;
  }

  &__icon--location {
    height: 40px;
    margin-bottom: 2px;
  }
}

.address {
  font-style: normal;
  line-height: 1.2;

  &__visit {
    border-bottom: 1px solid $color-white;
    display: inline-block;
    padding-bottom: 0.5em;
    margin-bottom: 0.5em;
  }

  &__contact {
    display: block;
    color: white;
  }
}

.footer-form {
  &__wrap {
    background-color: $color-white;
    border: 1px solid $color-white;
    position: relative;
    max-width: 300px;
    width: 90%;

    @media (min-width: $screen-sm-min) {
      width: 100%;
    }
  }

  &__input {
    font-size: 1.6rem;
    outline: 0;
    padding: .3em 0 .3em .5em;
    width: 87%;
  }

  &__submit {
    cursor: pointer;
    background-image: url('/assets/images/arrow-white.png');
    background-position: center;
    background-size: 34%;
    background-repeat: no-repeat;
    background-color: $color-red-dark;
    color: $color-white;
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: 30px;
    text-indent: -9999px;
  }

  &__input,
  &__submit {
    display: inline-block;
  }
}

.social {
  display: flex;
  align-items: center;

  &__item {
    display: inline-block;
  }

  &__link {
    display: inline-block;
    padding: .25em 1em 0 0;
  }

  &__icon {
    font-size: 2.4rem;
  }

  &__icon--twitter {
    color: $color-gray-dark;
    display: flex;
    position: relative;

    &:before {
      position: relative;
      z-index: 1;
      transform: scale(.6)
    }

    &:after {
      content: '';
      background-color: $color-white;
      border-radius: 50%;
      height: 94%;
      width: 94%;  
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      z-index: 0;
    }
  }
}

.legal {
  align-items: center;
  display: flex;
  justify-content: space-between;
  font-size: 1.2rem;
  max-width: 460px;

  @media (min-width: 375px) {
    font-size: 1.4rem;
  }

  &__link,
  &__pipe {
    padding: 2.25em 0 3em;
    display: inline-block;

    @media (min-width: $screen-sm-min) {
      padding: 1.6em 0;
    }
  }

  &__pipe {
    cursor: default;
  }
}
