$header-height: 68px;

.header {
  box-shadow: 0 0 16px 6px rgba(0,0,0,0.2);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: $zIndex-mid;

  &__top {
    background-color: $color-gray-dark;
    height: $header-height;
    position: relative;
    // text-align: center;
  }

  &__logo {
    display: inline-block;
    height: auto;
    padding: 20px 0;
    width: 118px;
  }
}

// "Sticky" Header
.home {
  @media (min-width: $screen-lg-min) {
    &.is-sticky {
      .header {
        position: fixed;
        top: 0;
      }
    }

    .header {
      position: relative;
      top: auto;
    }
  }
}

.toggle {
  position: absolute;
  top: 0;
  right: 0;
  padding: 0 15px;
  height: 100%;
  width: 60px;

  @media (min-width: $screen-sm-min) {
    margin-right: calc(4% - 15px);
  }

  &__bar {
    background-color: $color-white;
    display: block;
    width: 100%;
    height: 2px;
    margin: 4px 0;
    transition: all .3s $transition-ease;
  }

  &.is-active {
    .toggle__bar:nth-child(1) {
      transform: translateY(6px) rotate(45deg);
    }
    .toggle__bar:nth-child(2) {
      opacity: 0;
      transform: translateX(-100%);
    }
    .toggle__bar:nth-child(3) {
      transform: translateY(-6px) rotate(-45deg);
    }
  }
}

.menu {
  background-color: $color-white;
  position: relative;

  &__mobile {
    background: $color-white;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0 15px;
    width: 100%;

    @media (min-width: $screen-sm-min) {
      padding: 0 4%;
    }
  }

  &__container {
    background-color: $color-gray-light;
    position: fixed;
    top: $header-height;
    bottom: 0;
    right: 0;
    width: 300px;
    margin: 0 auto;
    max-width: 1170px;
    transform: translate3d(100%, 0, 0);
    transition: transform .45s $transition-ease;
    z-index: $zIndex-upper;

    &.is-active {
      transform: translate3d(0, 0, 0);
    }

    @media (min-width: $screen-md-min) {
      background-color: transparent;
      display: flex;
      justify-content: space-between;
      padding: 0 15px;
      position: relative;
      top: 0;
      transform: translate3d(0, 0, 0);
      width: 100%;

      &::after {
        content: '';
        background-color: $color-gray-light;
        position: absolute;
        top: 0;
        left: 66.5%;
        height: 100%;
        width: 40vw;
        z-index: 1;
      }
    }
  }

  &__section {
    position: relative;
    margin-top: 34px;

    @media (min-width: $screen-md-min) {
      margin-top: 0;
    }

    &--primary {
      width: 100%;

      @media (min-width: $screen-md-min) {
        display: inline-flex;
        justify-content: space-between;
        width: 67%;
        padding-right: 3.5%;
      }
    }

    &--secondary {
      align-items: baseline;
      display: block;
      margin-top: 34px;
      text-align: center;
      width: 100%;

      @media (min-width: $screen-md-min) {
        margin-top: 0;
        width: 29.5%;
        z-index: 2;
        display: inline-flex;
        justify-content: space-between;
      }
    }
  }

  &__link {
    color: $color-gray-dark;
    padding: 18px 0;
    position: relative;
    z-index: 2;

    @media (min-width: $screen-md-min) {
      font-size: 2rem;
      padding: 38px 0;
    }
    
    @media (min-width: $screen-md-min) {
      font-size: 1.8rem;
      padding: 38px 0;
    }

    @media (min-width: $screen-lg-min) {
      font-size: 2rem;
    }

    &--care {
      color: $color-red;
      font-size: 2rem;
      padding: 18px 0 0;
      text-align: center;
      width: 100%;
  
      @media (min-width: $screen-md-min) {
        // font-size: 1.8rem;
        padding: 38px 0;
        width: auto;
      }

      @media (min-width: $screen-lg-min) {
        margin-right: 4%;
      }
    }

    &--primary {
      @media (max-width: $screen-sm-max) {
        color: $color-white;
        display: block;
        text-align: center;
      }
    }

    &--secondary {
      color: $color-white;

      @media (max-width: $screen-sm-max) {
        margin-top: 0;
        color: $color-white;
        display: block;
        text-align: center;
        padding: 8px 0;
      }
    }
  }

  &__title {
    color: $color-white;
    position: absolute;
    top: 12%;
    left: 52%;
    transform: translate3d(-50%, 0%, 0);
    z-index: 2;

    &:after {
      content: '';
      background-color: $color-white;
      position: absolute;
      bottom: -2px;
      left: 0;
      height: 1px;
      width: 100%;
    }

    @media (max-width: $screen-sm-max) {
      top: 0;
      left: 0;
      transform: translate3d(0, 0, 0);
      position: relative;
      margin: 0px 0 11px;
      display: inline-block;
    }

    @media (min-width: $screen-md-min) {
      font-size: 1.6rem;
    }
  }
}
