// Layout
.page-content {
  padding-top: 158px;
  position: relative;
  overflow-x: hidden;

  @media (min-width: $screen-md-min) {
    padding-top: 162px;
  }
}

.home {
  .page-content {
    padding-top: 0;
  }

  @media (min-width: $screen-lg-min) {
    &.is-sticky {
      .page-content {
        padding-top: 162px;
      }
    }
  }
}

.container {
  margin: 0 auto;
  max-width: 1170px;
  padding: 0 $gutter;
  position: relative;
  height: 100%;
  width: 100%;

  @media (min-width: $screen-sm-min) and (max-width: $screen-md-max) {
    padding: 0 $gutter-sm + 0%;
  }
}

.content {
  padding: 3em 1.6em;

  @media (min-width: $screen-lg-min) {
    padding: 3em 0;
  }
}

// Pages
.post-type-archive-portfolios {
  color: $color-gray-light;
}

// Font Awesome Icons
[class^=icon--], [class*="icon--"] {
  font-family: FontAwesome;
  font-weight: 400;
  font-style: normal;
  z-index: 1;
}

.icon--instagram:before { content:"\f16d"; }
.icon--linkedin:before { content:"\f08c"; }
.icon--facebook:before { content:"\f230"; }
.icon--twitter:before { content:"\f099"; }
.icon--close:before { content:"\f05c"; z-index: 1; }

// Arrows
.arrow {
  background: url('/assets/images/arrow-white.png') center / cover no-repeat;
  &--left { transform: rotate(180deg); }
  &--up { transform: rotate(-90deg); }
  &--down { transform: rotate(90deg); }
}

// Video play button
.play-btn {
  @include center-xy;
  cursor: pointer;
  height: 60px;
  width: 60px;
  opacity: 0;
  transition: opacity .4s $transition-ease;

  @media (min-width: $screen-sm-min) {
    height: 80px;
    width: 80px;
  }

  &:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    background: url('/assets/images/play-btn.png') center / cover no-repeat;
    height: 100%;
    width: 100%;
  }
}

// Headlines
.headline {
  display: inline-block;
  font-size: 2.4rem;
  margin-top: 10px;
  margin-bottom: .9em;
  position: relative;

  &:before {
    content: '';
    position: absolute;
    top: -10px;
    left: 0;
    height: 5px;
    width: 100%;
  }
}

.home {
  .headline:before {
    background-color: $color-theme-home;
  }
}

// Links
.link {
  // color: $color-gray-dark;
  display: inline-block;
  position: relative;

  &:after {
    content: '';
    background-color: $color-theme-home;
    bottom: -6px;
    left: 0;
    position: absolute;
    height: 4px;
    width: 100%;
  }

  &--green:after { background-color: $color-green; }
  &--orange:after { background-color: $color-orange; }
}

// Flickity slider
.flickity-slider {
  backface-visibility: hidden;
}

.flickity-button-icon {
  fill: white;
  width: 80%;
}
