.home {
  .page-nav__btn.is-active:after {
    background-color: $color-theme-home;
  }
}

.page-nav {
  display: none;
  color: $color-gray-dark;
  position: fixed;
  top: 50%;
  left: 24px;
  transform: translate(0, -50%);
  z-index: $zIndex-lower;

  @media (min-width: $screen-xl-min) {
    display: block;
  }

  &--white {
    color: $color-white;
  }

  &__btn {
    color: inherit;
    display: block;
    height: 44px;
    min-width: 100px;
    padding-left: 12px;
    position: relative;
    text-align: left;

    &:hover,
    &.is-active {
      .page-nav__title {
        opacity: 1;
      }
    }

    &:after {
      content: '';
      background-color: $color-gray-light;
      position: absolute;
      top: 10%;
      left: 0;
      height: 80%;
      width: 6px;
      transition: background-color .4s;
    }
  }

  &__title {
    font-size: 1.4rem;
    opacity: 0;
    transition: opacity .35s;
  }
}
