
.section {
  background-color: $color-white;
  position: relative;
  width: 100%;

  @media (min-width: $screen-md-min) {
    height: 630px;
  }

  &--full {
    height: auto;
  }

  &__container {

    @media (min-width: $screen-md-min) {
      display: flex;
      align-items: flex-end;
    }
  }

  &__content {
    padding: 3em 26px 2em;

    @media (min-width: $screen-md-min) {
      // font-size: 1.4rem;
      padding: 0 34px 2em 0;
      width: 25.5%;
    }
  }

  &__img {
    @include background-cover;

    &--left {
      padding-bottom: 64%;
      transform: translateX(-$gutter);
      width: 100vw;
  
      @media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
        transform: translateX(-$gutter-sm + 0%);
      }
  
      @media (min-width: $screen-md-min) {
        padding-bottom: 0;
        position: absolute;
        top: 0;
        left: 26.3%;
        height: 100%;
        width: 73vw;
        transform: translateX(0);
      }
    }
  }
}