.video {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
  max-width: 992px;
  display: none;
  opacity: 0;
  transition: opacity .4s;
  z-index: 0;

  &.is-active {
    display: block;
    z-index: 999;
  }

  &__inner {
    height: 0;
    position: relative;
    padding-bottom: 56.2%;
  }

  &__player {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  &__close-btn {
    position: absolute;
    top: -44px;
    right: -44px;
    height: 60px;
    width: 60px;
    font-size: 4rem;

    @media (min-width: $screen-sm-min) {
      top: -50px;
      right: -50px;
    }

    &:after {
      content: '';
      @include center-xy;
      background-color: $color-white;
      border-radius: 50%;
      height: .8em;
      width: .8em;
      z-index: -1;
    }
  }
}
